<body id="landing-page">

    <section class="top-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recipes/main">Recipes</a></li>
            <li><a href="/signup">Sign Me Up!</a></li>
            <li><a href="/login">Log Me In!</a></li>
        </ul>

    </section>

    <section class="landingpage-logo">
        <h3>B<span id="red">ake</span> Th<span id="red">is</span>  W<span id="red">ay</span></h3>

    </section>

    <section class="landingpage-intro">
        <h2 class="intro-sentence">Share Your Bakery Happiness With Us</h2>
        <form action="/signup">
            <button class="join-btn">
                <p>Join Us</p>
            </button>
        </form>
        </form>

    </section>

</body>




