<h1>Bake This Way!</h1>

<h2>Add New Recipes!</h2>

<form action="/recipes" method="POST">

    <label for="">Recipe Name:</label>
    <input type="text" name="recipe_name">
    
    <label for="">Serving:</label>
    <input type="text" name="serving">
        
    <label for="">Cooking Time:</label>
    <input type="text" name="cooking_time">
    
    <label for="">Ingredient</label>
    <input type="text" name="ingredient">
    
    <label for="">Step by Step</label>
    <input type="text" name="step_by_step">
    
    <label for="">Recipe Image URL:</label>
    <input type="text" name="image_url">
    
    <button>Submit</button>

</form>