<section class="landingpage-logo">
    <h3>B<span id="red">ake</span> Th<span id="red">is</span>  W<span id="red">ay</span></h3>
</section>

<h2 class="addnew-title">Add New Recipes!</h2>

<form class="addnew-form" action="/recipes" method="POST">

    <label for="">Recipe Name:</label>
    <input type="text" name="recipe_name">
    
    <label for="">Serving:</label>
    <input type="text" name="serving">
        
    <label for="">Cooking Time:</label>
    <input type="text" name="cooking_time">
    
    <label for="">Ingredient:</label>
    <input type="text" name="ingredient">
    
    <label for="">Step by Step:</label>
    <input type="text" name="step_by_step">
    
    <label for="">Recipe Image URL:</label>
    <input type="text" name="image_url">
    
    <button class="addnew-btn">Add Recipe</button>
    <p class="cancel"> <a href="/recipes/main">Cancel</a></p>

</form>

